############
## Server Config Profile "default"
##

profile_name = Default
display_stained_glass = false
display_flowers = false
lighting = true
terrain_slopes = 0
display_minimap_radar = false
legible_cave_maps = false
map_teleport_allowed = false
terrain_depth = false
biome_colors_in_vanilla = false
display_hovered_biome = false
arrow_color = 7
auto_cave_mode = 0
footsteps = false
adjust_height_for_short_blocks = false
display_opac_claims = false
display_coordinates = false
biome_blending = false
block_colors = 0
default_cave_mode_type = 0
cave_mode_allowed = false
